{% extends 'base.html' %}
{% block title %} Academy {% endblock title %}
{% block body %}
<div class="whole_updates">
    <h1>Academy</h1>
    <div class=whole_updates_row>
        <div class="image_text_updates">
            <div class="image_updates">
                <img src="/media/academy1.png"  alt="updates_photos">
            </div>
            <div class="text_updates">
                <p>makeup</p>
            </div>
        </div>
        <div class="image_text_updates">
            <div class="image_updates">
                <img src="/media/academy2.png"  alt="updates_photos">
            </div>
            <div class="text_updates">
                <p>bridal makeup</p>
            </div>
        </div>
        <div class="image_text_updates">
            <div class="image_updates">
                <img src="/media/academy3.png"  alt="updates_photos">
            </div>
            <div class="text_updates">
                <p>bridal makeup</p>
            </div>
        </div>
    </div>
    <div class=whole_updates_row>
        <div class="image_text_updates">
            <div class="image_updates">
                <img src="/media/academy4.png"  alt="updates_photos">
            </div>
            <div class="text_updates">
                <p>makeup</p>
            </div>
        </div>
        <div class="image_text_updates">
            <div class="image_updates">
                <img src="/media/academy5.png"  alt="updates_photos">
            </div>
            <div class="text_updates">
                <p>bridal makeup</p>
            </div>
        </div>
        <div class="image_text_updates">
            <div class="image_updates">
                <img src="/media/academy6.png" alt="updates_photos">
            </div>
            <div class="text_updates">
                <p>bridal makeup</p>
            </div>
        </div>
    </div>
</div>
{% endblock body%}